---
export async function getStaticPaths({ paginate }) {
    const allPosts = await Astro.glob("../posts/*.md");
    const postData = [];
    for (let post of allPosts) {
        postData.unshift({
            data: {
                title: post.frontmatter.title,
                date: post.frontmatter.date,
                description: post.frontmatter.description,
                url: post.url,
            },
        });
    }
    return paginate(postData, { pageSize: 5 });
}
// 所有分页数据都在 "page" 参数中传递
const { page } = Astro.props;
const pageTitle = "我的日记";
const author = "ooorange";
const description = "个人博客，记录感想";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle={pageTitle} author={author} description={description}>
    <div slot="main">
        <div class="span-col-2 mt-8 py-2">
            {
                page.data.map(({ data }) => (
                    <article>
                        <a href={data.url} target="_blank">
                            <p class="text-sm text-secondary my-2">
                                {data.title}
                            </p>
                        </a>
                        <p class="text-xs text-base-content/60">{data.date}</p>
                        <p class="text-xs my-1 pb-2 text-base-content/60">
                            {data.description}
                        </p>
                    </article>
                ))
            }
            <div
                class="mt-4 flex flex-row basis-6 justify-center text-secondary"
            >
                {page.url.prev ? <a href={page.url.prev}>上一页</a> : null}
                {page.url.next ? <a href={page.url.next}>下一页</a> : null}
            </div>
        </div>
    </div>
    <div slot="side">
        <script is:inline>
            var remark_config = {
                host: "https://remark42.notomorrow.club",
                site_id: "NotomorrowClub",
                components: ["last-comments"],
                max_last_comments: 20,
                theme: "light",
            };
        </script>
        <script is:inline>
            !(function (e, n) {
                for (var o = 0; o < e.length; o++) {
                    var r = n.createElement("script"),
                        c = ".js",
                        d = n.head || n.body;
                    "noModule" in r
                        ? ((r.type = "module"), (c = ".mjs"))
                        : (r.async = !0),
                        (r.defer = !0),
                        (r.src = remark_config.host + "/web/" + e[o] + c),
                        d.appendChild(r);
                }
            })(remark_config.components || ["embed"], document);
        </script>
        <div id="remark42" class="remark42__last-comments"></div>
    </div>
</BaseLayout>
