---
import BaseLayout from "../../layouts/BaseLayout.astro";
const categories = ["SIFF", "总结", "拯救我的xxx"];
const pageTitle = "我的列表";
const author = "ooorange";
const description = "个人博客，记录感想";
---

<BaseLayout pageTitle={pageTitle} author={author} description={description}>
    <div slot="main">
        <ul>
            {
                categories.map((category) => (
                    <li class="list-none m-4 py-4 border-b border-solid border-base-300">
                        <div class="h-20 block">
                            <div class="mr-2 size-20 bg-primary/50 rounded-lg shadow-lg float-left">
                                <div class="m-2 pt-2 opacity-30 font-sans text-primary-content text-xl text-balance font-bold rotate-12 leading-tight">
                                    {category}
                                </div>
                            </div>
                            <div class="py-4 text-sm text-secondary">
                                <a href={`/list/${category}`}>{category}</a>
                            </div>
                        </div>
                    </li>
                ))
            }
        </ul>
    </div>
</BaseLayout>
